$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

body{
	background: LightSteelBlue;
}

#task-list{
	border: 1px solid #444;
	background: WhiteSmoke;
	display: block;
    min-height: 400px;
    margin: 20px 0px;
    padding: 0;


	li{
		display: inline-block;
		width:100%;
		position: relative;
		padding: 10px 5px 5px;
		border-bottom:1px solid #444;

		&:hover, &:focus{
	    	background: AliceBlue;
	    }
		
		.task-name{
			cursor: pointer;
			display: inline-block;
    		width: 100%;
			padding: 10px 0px 0;
			font-weight: 500;
		}

		.remove-task{
			position: absolute;
		    right: 10px;
		    top: 5px;
			padding: 0px 4px;
		}

		.complete{
			float:right;
			padding-right:10px;
			font-size: 1.2rem;
			margin: 20px 0px 0px;
		}
		.date{
			padding: 20px 20px 0 30px;
			float: right;
		}
	} //li
   
} //#task-list

#view-more{
	padding-left: 10px;
    font-size: 1.7rem;
}
.fa-chevron-circle-down{
	font-family: "fontAwesome";
	font-style: normal;
	color: #337ab7;
}
.fa-exclamation-triangle, .far.fa-bell{
	font-family: "fontAwesome";
	font-style: normal;
	color: tomato;
}

li.toggleCompleted{
	color: #ccc;
	&:after{
		color: #ccc;
	}
}
.hidden{
	display:none;
}
#add-task{
	margin-bottom:10px
}
#filters{
	
	padding:20px 0 10px;
	
	li{
		float: left;
		list-style-type: none;
		padding-left:20px;

		input{
			cursor: pointer;
		}
	}
}

